html * {
  background-color: black;
  color: white;
  text-align: center;
}
h2 {
  font-size: 1.6em;
  padding-top: 1.5em;
  padding-bottom: 0;
  margin-bottom: 0;
}
artist, title, genre, year {
  display: block;
}
list, song, artist, title, genre, year {
  color: white;
  font-family: sans-serif;
}