html * {
  background-color: black;
  text-align: center;
  font-family: sans-serif;
  color: white;
}
#description {
  display:flex;
  align-items:center;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
#description div {
  flex-basis: 28%;
  line-height: 20px;
  text-align: center;
  margin: 50px;
}
#video {
  flex-basis: 45%;
}
#quote {
  font-size: 1.2em;
  flex-basis: 60%;
}

@media screen and (max-width: 1200px) {
  #description{
    flex-direction: column-reverse; 
  }
}