.artistBody {
  margin-top: 50px;
}
.artistProfile {
  max-width: 45%;
  
}
.artistBox {
  display:flex;
  align-items:center;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.artistBox div {
  text-align: center;
  margin: 100px;
}
.album {
  margin: 10px;
  width: 100px;
}
.artistBox.fade {
  opacity: 0;
}